import React, { Component } from 'react'
import ReactDOM from 'react-dom/client'

class App extends Component{
    
}


const rootElement = document.getElementById("root");

// ReactDOM.render(jsxElement, rootElement)
const root = ReactDOM.createRoot(rootElement);
root.render(<App></App>);